{% extends 'plantilla1.html' %}

{% block titulo %} Iniciar sección {% endblock %}
{% block contenido %} 

{% load static %}
<main class="w-100 h-100 d-flex justify-content-center align-items-center degradado">

    <form class="w-40 p-2 m-3 d-flex justify-content-center align-items-center flex-column bg-white bg-opacity-75 rounded h"  id="Formulario" action="/login/" method="POST">      <!--Formulario-->
        {% csrf_token %}
        <h2>Registro</h2>
        {% if error %}
        <div class="w-75 d-flex p-2 justify-content-center align-items-center bg-danger bg-opacity-25 border border-danger rounded">
            <img class="me-3" src="{% static 'iconos/alerta.svg' %}" alt="alerta">
            <p class="m-0 text-danger fw-bold">{{ error }}</p>
        </div>
        {% endif %}
        <div class="d-flex p-2 my-2 w-75" id="Input_Usuario">      <!--Campo de Usuario-->
            <label class="me-1 cursor" for="Usuario"><img width="40" src="{% static 'iconos/PerfilLogo.svg' %}" alt="perfil"></label>
            <input class="form-control border border-2 border-dark" type="text" name="Usuario" id="Usuario" placeholder="Usuario" required>
        </div>

        <div class="d-flex p-2 my-2 w-75" id="Input_Contraseña1">         <!--Campo de la Contraseña-->
            <label  class="me-1 cursor" for="Contraseña1"><img width="40" src="{% static 'iconos/contraseña_2.svg' %}" alt="contraseña"></label>
            <input  class="form-control border border-2 border-dark" type="password" name="Contraseña1" id="Contraseña1" placeholder="Contraseña" required>
        </div>
  
        <div class="d-flex justify-content-center align-items-center w-75" id="Enviar">            <!--Boton Para Enviar Datos-->
            <button  type="submit"  class="btn btn-dark" id="Boton" > Enviar</button>
        </div>
        <p class="mt-2 fs-5">Si no tienes cuenta. <a class="link_list fw-bold text-dark" href="{% url 'register' %}">Registrate</a></p>
    </form>
</main>
{% endblock %}